# dependencies
node_modules/

# testing
coverage/

# misc
.DS_Store
*.pem

# logs
*.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# yarn
.yarn/

# ide
.idea/

# parcel js cache
.parcel-cache/

# build assets
dist/
